# Temp folder
/temp

# Build folder
/dist

# Distributed bundles
*.xpi
*.zip
/dist/

# Editor files or configurations
/.vscode

# Node.js
/node_modules

# Playwright output
/test-results
/playwright-report
